<div>
  <ul class="cards">
    {{#each data}}
      <li class="card">
        <img src={{this.thumbnail}} class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path
              /></svg>
            <img
              class="card__thumb"
              style="border: 50%;"
              src="https://i.pinimg.com/736x/30/56/f0/3056f08be7fc0cdf874229c0b6a38691.jpg"
              alt=""
            />
            <div class="card__header-text">
              <h3 class="card__title">{{this.title}}</h3>
              <span class="card__status">$ {{this.price}}</span>
            </div>
          </div>
          <p class="card__description">{{this.descripcion}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
</div>